.html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
  }
  
  .body{
    height:100vh;
    display: grid;
    grid-template: 
    'header header header'
    'header header header'
    'main main main'
    'main main main'
    'main main main'
    'footer footer footer';
    
  }

  .main{
    grid-area: main;
  }


 